@model DoctorAppointmentSystem.Models.Patient

@{
    ViewBag.Title = "Patient Details";
}

<div class="container mt-5">
    <div class="card shadow-sm rounded">
        <div class="card-header bg-info text-white">
            <h3><i class="bi bi-person-lines-fill"></i> Patient Details</h3>
        </div>

        <div class="card-body">
            <dl class="row">

                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">@Model.Name</dd>

                <dt class="col-sm-3">Age</dt>
                <dd class="col-sm-9">@Model.Age</dd>

                <dt class="col-sm-3">Gender</dt>
                <dd class="col-sm-9">@Model.Gender</dd>

                <dt class="col-sm-3">Blood Group</dt>
                <dd class="col-sm-9">@Model.BloodGroup</dd>

                <dt class="col-sm-3">Phone</dt>
                <dd class="col-sm-9">@Model.Phone</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.Email</dd>

                <dt class="col-sm-3">Disease Details</dt>
                <dd class="col-sm-9">@Model.DiseaseDetails</dd>

            </dl>

            <div class="mt-4">
                <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-warning me-2">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>

                <a href="@Url.Action("Index")" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
    </div>
</div>